# サンプルデータの読み込み

### ロードボストンデータの読み込み

In [24]:
# Boston house-price datase for Regression（回帰）
import pandas as pd #データ加工ライブラリpdとして読み込む
from sklearn.datasets import load_boston
from IPython.core.display import display #表の表示機能の読み込み

In [25]:
# set dataframe
dataset = load_boston()
X = pd.DataFrame(dataset.data, columns=dataset.feature_names)
display(X.tail())
# targetをMEDVとして取り出す
y = pd.Series(dataset.target, name='MEDV')# Median value of owner-occupied homes in $1000's
display(y.tail())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, dtype: float64

In [19]:
print('--------------------------------------')
print('X shape:(%i, %i)'%X.shape)# shapeで行列数を取り出せる
print('--------------------------------------')
print(y.describe())# describeで統計値の取り出し
display(X.join(y).head())# きれいに強制出力してくれる

--------------------------------------
X shape:(506, 13)
--------------------------------------
count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### CSVからの読み出し

In [ ]:
# big mart sales amount for Regression
# https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/
import pandas as pd
import numpy as np
df = pd.read_csv('./data/av_big_mart_sales_UWu5bXk.csv',
                 header=0)  # headerなしの場合はNone
X = df.iloc[:,:-1]  # 全行対象,最終カラム以外をXとする
y = df.iloc[:,-1] # 全行対象,最終カラムをyとする

# check the shape
print('----------------------------------------')
print('X shape: (%i,%i)' %X.shape)
print('----------------------------------------')
print(y.describe())
# 目的変数に欠損が含まれているとアルゴリズムが学習できないためチェック
print('----------------------------------------')
print('Check null count of target variable: %i' % y.isnull().sum())
print('----------------------------------------')
display(X.join(y).head(5))